<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant Login</h1>
                    <h5>Feel free to login here.</h5>
                    <hr>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                      <label class="form-label">Email address</label>
                      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
                  <h6>New User ? <a routerLink="/signup">Click to Signup !</a></h6>
            </div>
        </div>
    </div>
</div>
